.home{
    background-color: #E5E5E5;
    /* height: 135rem; */
    height: 66.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home__inner{
    width: 95%;
    height: 90%;
    background-color: white;

}


.home__inner h1{
    font-family: "Roboto";
    margin: 3rem;
    font-size: 2.5rem;
}

.home__threat{
    margin: 4rem;
}

.home__form{
    display: flex;
    position: relative;
    align-items: center;
    
}


.home__input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto"; 
    
}

.home__detect{
    margin-top: 4rem; 
    width: 47%;
    margin-left: 4rem;
    background-color:rgb(52, 168, 83, 10%);
    animation: attack_detect .6s;
    display: flex;
    align-items: center;

}

.home__detect img{
   margin-left: 2rem;
}

.home__detect h1{
    font-weight: 400;
    font-size: 1.5rem;
    display: inline-block;
}


.home__submit{
    padding: 1rem 4rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: #FFB800;
    cursor: pointer;
    transition: all .3s;

}

.home__submit:hover{
    transform: scale(1.02);
}

.home__detect-btn{
    margin-left: 20rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #34A853;
    cursor: pointer;
    padding: .2rem;
    border-radius: 5px;
    transition: all .2s;

}

.home__detect-btn:hover{
    transform: scale(1.2);
    background-color:rgb(52, 168, 83, 13%);
    
    
}


.custom-select{
width: 25rem;
margin-right: 2rem;
}





@keyframes attack_detect{
    0%{
        margin-top: 15rem;
        opacity: 0;
    }
    100%{
        margin-top: 4rem;
        opacity: 1;
    }
}












  